@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #a8ddff;
    --cor1: #89c5f8;
    --cor2: #69adf2;
    --cor3: #4a95eb;
    --cor4: #2a7de4;
    --cor5: #002e6d;

    --fonte-padrao: "Poppins", sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: 'Android', cursive;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
}

header>h1 {
    font-family: var(--fonte-destaque);
    font-size: 3rem;
    font-weight: normal;
    color: white;
    margin-bottom: 20px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.267);
}

header>p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2rem;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.267);

}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: white;
    transition: 0.3s;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.185);
}

nav>a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: .5s;
    margin-left: 5px;
}

nav a:hover {
    background-color: var(--cor2);
    color: var(--cor5);
}

main {
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
    border-radius: 5px;
    transition-duration: .3s;

}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main p {
    margin: 15px 0px;
    text-indent: 30px;
    text-align: justify;
    line-height: 2rem;
    font-size: 1rem;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main img {
    width: 100%;
}

main img.pequena {
    display: block;
    margin: auto;
    max-width: 400px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8rem;
    padding-top: 20px
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3rem;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video>iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside>h3 {
    font-family: var(--fonte-android);
    font-weight: normal;
    letter-spacing: 3px;
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style: '\2714\00a0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8rem;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
    color: var(--cor1);
}

/* MOBILE*/

@media (max-width: 667px) {
    .nav {
        position: absolute;
        top: 70px;
        right: 0;
        width: 200px;
        display: none;
        flex-direction: column;
        padding: 20px;
    }

    .nav-list {
        flex-direction: column;
        gap: 15px;
    }

    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .nav.active {
        display: flex;
    }

    aside > ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

}
